<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaNLM.Model.Properties.Settings.Banco" connectionString="Data Source=COMP7L3\SQLEXPRESS;Initial Catalog=AgenciaNLM_MVC;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>